<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

<h1>Employee Management System</h1>

<p>Choose an option:</p>

<p>
    <a th:href="@{/employees/list}">View Employee List</a>
</p>

<p sec:authorize="hasAnyRole('MANAGER','ADMIN')">
    <a th:href="@{/employees/showFormForAdd}">Add New Employee</a>
</p>

<form th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>
